In [20]:
# Groupby function helps to examine data on a per category basis

import numpy as np
import pandas as pd

df = pd.read_csv("C:\\Users\\User\\Desktop\\Machine Learning and Data Science\\UNZIP_FOR_NOTEBOOKS_FINAL\\DATA\\mpg.csv")

# To decide what column to use for analysis

df['model_year'].unique()
#df['name'].unique()

# If we decide to analyse using model year. 
# Now we want to find the mean of the miles per gallon for each model year alone
df.groupby('model_year').mean()['mpg']

# Now we want to find the mean of the other data after we have model year as our base for analysis
df.groupby('model_year').mean()

# We might want to find the mean for x-numbers of base parameter for analysis. e.g we take model year and cylinders
df.groupby(['model_year','cylinders']).mean()

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         4          27.461538    101.846154  2056.384615     16.961538
           6          18.000000    243.375000  3171.875000     14.750000
           8          13.428571    371.714286  4537.714286     12.214286
72         3          19.000000     70.000000  2330.000000     13.500000
           4          23.428571    111.535714  2382.642857     17.214286
           8          13.615385    344.846154  4228.384615     13.000000
73         3          18.000000     70.000000  2124.000000     13.500000
           4          22.727273    109.272727  2338.090909     17.136364
           6          19.000000    212.250000  2917.125000     15.687500
           8          13.200000    365.250000  4279.050000     12.250000
74         4          27.800000     96.533333  2151.466667     16.400000
           6          17.857143    230.428571  3320.000000     16.857143
           8          14.200000    315.200000  4438.400000     14.700000
75         4          25.250000    114.833333  2489.250000     15.833333
           6          17.583333    233.750000  3398.333333     17.708333
           8          15.666667    330.500000  4108.833333     13.166667
76         4          26.766667    106.333333  2306.600000     16.866667
           6          20.000000    221.400000  3349.600000     17.000000
           8          14.666667    324.000000  4064.666667     13.222222
77         3          21.500000     80.000000  2720.000000     13.500000
           4          29.107143    106.500000  2205.071429     16.064286
           6          19.500000    220.400000  3383.000000     16.900000
           8          16.000000    335.750000  4177.500000     13.662500
78         4          29.576471    112.117647  2296.764706     16.282353
           5          20.300000    131.000000  2830.000000     15.900000
           6          19.066667    213.250000  3314.166667     16.391667
           8          19.050000    300.833333  3563.333333     13.266667
79         4          31.525000    113.583333  2357.583333     15.991667
           5          25.400000    183.000000  3530.000000     20.100000
           6          22.950000    205.666667  3025.833333     15.433333
           8          18.630000    321.400000  3862.900000     15.400000
80         3          23.700000     70.000000  2420.000000     12.500000
           4          34.612000    111.000000  2360.080000     17.144000
           5          36.400000    121.000000  2950.000000     19.900000
           6          25.900000    196.500000  3145.500000     15.050000
81         4          32.814286    108.857143  2275.476190     16.466667
           6          23.428571    184.000000  3093.571429     15.442857
           8          26.600000    350.000000  3725.000000     19.000000
82         4          32.071429    118.571429  2402.321429     16.703571
           6          28.333333    225.000000  2931.666667     16.033333

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
71         4          1.923077
           6          1.000000
           8          1.000000
72         3          3.000000
           4          1.928571
           8          1.000000
73         3          3.000000
           4          2.000000
           6          1.250000
           8          1.000000
74         4          2.200000
           6          1.000000
           8          1.000000
75         4          2.166667
           6          1.000000
           8          1.000000
76         4          1.866667
           6          1.300000
           8          1.000000
77         3          3.000000
           4          1.857143
           6          1.400000
           8          1.000000
78         4          2.117647
           5          2.000000
           6          1.166667
           8          1.000000
79         4          1.583333
           5          2.000000
           6          1.000000
           8          1.000000
80         3          3.000000
           4          2.200000
           5          2.000000
           6          2.000000
81         4          2.095238
           6          1.714286
           8          1.000000
82         4          1.714286
           6          1.000000

In [18]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [19]:
df.groupby('model_year').mean()['mpg']

model_year
70    17.689655
71    21.250000
72    18.714286
73    17.100000
74    22.703704
75    20.266667
76    21.573529
77    23.375000
78    24.061111
79    25.093103
80    33.696552
81    30.334483
82    31.709677
Name: mpg, dtype: float64

In [21]:
df.groupby(['model_year','cylinders']).mean()

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         4          27.461538    101.846154  2056.384615     16.961538
           6          18.000000    243.375000  3171.875000     14.750000
           8          13.428571    371.714286  4537.714286     12.214286
72         3          19.000000     70.000000  2330.000000     13.500000
           4          23.428571    111.535714  2382.642857     17.214286
           8          13.615385    344.846154  4228.384615     13.000000
73         3          18.000000     70.000000  2124.000000     13.500000
           4          22.727273    109.272727  2338.090909     17.136364
           6          19.000000    212.250000  2917.125000     15.687500
           8          13.200000    365.250000  4279.050000     12.250000
74         4          27.800000     96.533333  2151.466667     16.400000
           6          17.857143    230.428571  3320.000000     16.857143
           8          14.200000    315.200000  4438.400000     14.700000
75         4          25.250000    114.833333  2489.250000     15.833333
           6          17.583333    233.750000  3398.333333     17.708333
           8          15.666667    330.500000  4108.833333     13.166667
76         4          26.766667    106.333333  2306.600000     16.866667
           6          20.000000    221.400000  3349.600000     17.000000
           8          14.666667    324.000000  4064.666667     13.222222
77         3          21.500000     80.000000  2720.000000     13.500000
           4          29.107143    106.500000  2205.071429     16.064286
           6          19.500000    220.400000  3383.000000     16.900000
           8          16.000000    335.750000  4177.500000     13.662500
78         4          29.576471    112.117647  2296.764706     16.282353
           5          20.300000    131.000000  2830.000000     15.900000
           6          19.066667    213.250000  3314.166667     16.391667
           8          19.050000    300.833333  3563.333333     13.266667
79         4          31.525000    113.583333  2357.583333     15.991667
           5          25.400000    183.000000  3530.000000     20.100000
           6          22.950000    205.666667  3025.833333     15.433333
           8          18.630000    321.400000  3862.900000     15.400000
80         3          23.700000     70.000000  2420.000000     12.500000
           4          34.612000    111.000000  2360.080000     17.144000
           5          36.400000    121.000000  2950.000000     19.900000
           6          25.900000    196.500000  3145.500000     15.050000
81         4          32.814286    108.857143  2275.476190     16.466667
           6          23.428571    184.000000  3093.571429     15.442857
           8          26.600000    350.000000  3725.000000     19.000000
82         4          32.071429    118.571429  2402.321429     16.703571
           6          28.333333    225.000000  2931.666667     16.033333

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
71         4          1.923077
           6          1.000000
           8          1.000000
72         3          3.000000
           4          1.928571
           8          1.000000
73         3          3.000000
           4          2.000000
           6          1.250000
           8          1.000000
74         4          2.200000
           6          1.000000
           8          1.000000
75         4          2.166667
           6          1.000000
           8          1.000000
76         4          1.866667
           6          1.300000
           8          1.000000
77         3          3.000000
           4          1.857143
           6          1.400000
           8          1.000000
78         4          2.117647
           5          2.000000
           6          1.166667
           8          1.000000
79         4          1.583333
           5          2.000000
           6          1.000000
           8          1.000000
80         3          3.000000
           4          2.200000
           5          2.000000
           6          2.000000
81         4          2.095238
           6          1.714286
           8          1.000000
82         4          1.714286
           6          1.000000

In [22]:
df.groupby(['model_year','cylinders']).min()

                       mpg  displacement horsepower  weight  acceleration  \
model_year cylinders
70         4          24.0          97.0        113    1835          12.5
           6          18.0         198.0         85    2587          15.0
           8           9.0         302.0        130    3086           8.0
71         4          22.0          71.0         60    1613          14.0
           6          16.0         225.0        100    2634          13.0
           8          12.0         318.0        150    4096          11.5
72         3          19.0          70.0         97    2330          13.5
           4          18.0          96.0        112    2100          14.5
           8          11.0         302.0        130    3672          11.0
73         3          18.0          70.0         90    2124          13.5
           4          19.0          68.0        110    1867          14.0
           6          16.0         155.0        100    2472          13.5
           8          11.0         302.0        137    3399           9.5
74         4          24.0          71.0         52    1649          14.0
           6          15.0         198.0        100    2875          16.0
           8          13.0         302.0        140    4141          13.5
75         4          22.0          90.0        115    1795          13.5
           6          15.0         171.0        100    2914          14.5
           8          13.0         262.0        110    3169          11.5
76         4          19.0          85.0        102    1795          12.2
           6          16.5         156.0        100    2930          14.5
           8          13.0         302.0        120    3755          12.0
77         3          21.5          80.0        110    2720          13.5
           4          21.5          79.0        110    1825          12.8
           6          17.5         146.0        100    2815          14.5
           8          15.0         260.0        110    3880          11.1
78         4          21.1          78.0        105    1800          14.2
           5          20.3         131.0        103    2830          15.9
           6          16.2         163.0        100    2965          13.4
           8          17.5         260.0        110    3205          11.2
79         4          22.3          85.0         65    1915          13.2
           5          25.4         183.0         77    3530          20.1
           6          19.8         173.0        110    2595          11.3
           8          15.5         260.0        125    3420          13.0
80         3          23.7          70.0        100    2420          12.5
           4          23.6          85.0        105    1835          13.8
           5          36.4         121.0         67    2950          19.9
           6          19.1         168.0        132    2910          11.4
81         4          25.8          79.0        100    1755          12.9
           6          17.6         145.0        110    2725          12.6
           8          26.6         350.0        105    3725          19.0
82         4          23.0          91.0         52    1965          11.6
           6          22.0         181.0        110    2835          14.7

                      origin                          name
model_year cylinders
70         4               2                   audi 100 ls
           6               1                   amc gremlin
           8               1            amc ambassador dpl
71         4               1           chevrolet vega (sw)
           6               1                   amc gremlin
           8               1              chevrolet impala
72         3               3               mazda rx2 coupe
           4               1                chevrolet vega
           8               1            amc ambassador sst
73         3               3                     maxda rx3
           4               1                    audi 100ls
           6               1                   amc gremlin
           8               1       amc ambassador brougham
74         4               1                      audi fox
           6               1                    amc hornet
           8               1              amc matador (sw)
75         4               1                    audi 100ls
           6               1                   amc gremlin
           8               1             chevrolet bel air
76         4               1                      capri ii
           6               1                    amc hornet
           8               1                   amc matador
77         3               3                    mazda rx-4
           4               1                      bmw 320i
           6               1                 buick skylark
           8               1     chevrolet caprice classic
78         4               1            chevrolet chevette
           5               2                     audi 5000
           6               1                   amc concord
           8               1  chevrolet monte carlo landau
79         4               1                 amc spirit dl
           5               2            mercedes benz 300d
           6               1              amc concord dl 6
           8               1       buick estate wagon (sw)
80         3               3                 mazda rx-7 gs
           4               1                   amc concord
           5               2           audi 5000s (diesel)
           6               1                 datsun 280-zx
81         4               1                 buick skylark
           6               1                 buick century
           8               1         oldsmobile cutlass ls
82         4               1                amc concord dl
           6               1         buick century limited